* {
  margin: 0;
}

html,
body {
  --ieru-color: #0096fa;
  --ieru-i-color: #4839b8;
  --ieru-eru-color: #4dadfb;
  --sidebar-separate-color: #97d3e3;
  --hover-background-color: #4bb4fa;

  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
