* {
  margin: 0;
}

html,
body {
  /* Primary Brand Color */
  --ieru-color: #1491fa;
  --ieru-i-color: #4839b8;
  --ieru-eru-color: #4dadfb;

  /* Secondary Brand Colors */
  --white: #fff;
  --black: #23221f;

  /* Extended Colors */
  --ieru-color-hover: #64b6fa;
  --white-hover: #f4f4f4;
  --sidebar-separate-color: #97d3e3;
  --text-date-color: #808080;
  --white-icon: #fff;
  --black-icon: #757575;
  --like-color: #f91880;

  /* Dark Mode */
  --ieru-color-dark: #0a192a;
  --text-dark: #66b2ff;
  --sidebar-separate-color-dark: #0472e4;

  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
